* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
/* head styling  */
header {
  width: 1600px;
  height: 837px;
  background: #fff8f3;
  background-image: url(images/developer.png), url(images/elipse.png);
  background-repeat: no-repeat;
  background-position: left, right bottom;
}

/* nav of header styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 230px 0px;
}

.title {
  color: #181818;
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 800;
}

.title span {
  color: #fd6e0a;
}
.navbar nav {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  width: 189px;
  height: 27px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* border: 1px solid red; */
  margin-right: 50px;
}

.nav-btn {
  width: 150px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 36px;
  background-color: #fd6e0a;
  border-radius: 5px;
  color: #fff;
}

/* hero-page styling */

.hero-page {
  display: flex;
  padding-left: 232px;
  margin-top: 50px;
}

.hero-page img {
  width: 584px;
  height: 676px;
}

.hero-greeting {
  /* border: 1px solid red; */
  margin-top: 185px;
  margin-bottom: 5px;
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #474747;
}

.hero-name {
  color: #181818;
  font-family: "Open Sans";
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}

.hero-description {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* border: 1px solid red; */
  margin-bottom: 30px;
}

.downloadBtn {
  width: 200px;
  height: 64px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  background-color: #fd6e0a;
  margin-right: 30px;
}

.phone {
  width: 160px;
  height: 64px;
  color: #fd6e0a;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  background: #fff8f3;
}

/* abour me styling  */

.about-me {
  /* border: 1px solid red; */
  margin-top: 130px;
  width: 1140px;
  height: 550px;
  background: #fff8f3;
  border-radius: 10px;
  margin-left: 230px;
}

.about-data {
  margin: 131px 157px 131px 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 1px solid #000;
  width: 827px;
  background: #fff;
}

.about-title {
  color: #181818;
  /* text-align: center; */
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-desc {
  color: #757575;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.about-info {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
}

.about-info h3 {
  color: #757575;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.about-info a,
h3 {
  color: #474747;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

/* skill styling */
.skills-sec {
  /* border: 1px solid red; */
  margin-top: 130px;
  width: 1140px;
  text-align: center;
  margin-left: 236px;
}

.skill-title {
  color: #181818;
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.skill-desc {
  color: #757575;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.skills-set {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: center; */
  gap: 24px;

  /* border: 1px solid red; */
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills img {
  width: 44px;
  height: 44px;
  margin: 30px 193px 30px 30px;
}
.skills h3 {
  color: #181818;
  /* text-align: center; */
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 63px 20px 30px;
}

.skills p {
  color: #757575;
  text-align: left;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
